.green{
    color:green;
    font-weight: bold;
}
.white{
    color:whitesmoke;
    font-weight: bold;
}
.red{
    color: firebrick;
    font-weight: bold;
}
.igreen{
	color: #0bbe79;
	font-weight: bold;
}
.ired{
    color: #ed290e;
    font-weight: bold;
}